div.card {
    background-color: lightsteelblue;
    border: ridge;
    width: 35rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
}

a.deleteButton {
    background-color: lightslategray;
    float: right;
    padding: 1rem;
    margin-right: 1rem;
    margin-top: -8rem;
}

.empList{
    list-style: none;
    margin-left: -2rem;
}